@{

    ViewBag.Title = "About";
}
<br/><br/><br/><br/>
<div class="container" >
    <div class="jumbotron">
        <h4>About Us</h4>
        <h5>DHA is an entertainment cinema located in Lahore at Civic Center Township. Formally it was Anmol Cinema, It was redesigned and renovated in to a Hi-tech Cinema, now known as CINESTAR.
         CINESTAR cinema is the only Cinema in Pakistan with exclusive rights for IMAX Theaters across Pakistan. The State of Art facilities include A Gallery Exclusive
         for Families ONLY with a separate Cafeteria. Hall seating with a separate Cafeteria. The Largest and the Best Screen with DOLBY DIGITAL surround sound supported 
        by JBL speakers Luxury seating by Quinette Gallay (French Company) which has been equipping the most prestigious places all over the world such as Congress Halls, 
        Operas, Theatres, Public Studios, Cinemas, Lecture Halls, Universities and Multi-Purpose Places.</h5>
        <h5>
            DHA is an entertainment cinema located in Lahore at Civic Center Township. Formally it was Anmol Cinema, It was redesigned and renovated in to a Hi-tech Cinema, now known as CINESTAR.
            CINESTAR cinema is the only Cinema in Pakistan with exclusive rights for IMAX Theaters across Pakistan. The State of Art facilities include A Gallery Exclusive
            for Families ONLY with a separate Cafeteria. Hall seating with a separate Cafeteria. The Largest and the Best Screen with DOLBY DIGITAL surround sound supported
            by JBL speakers Luxury seating by Quinette Gallay (French Company) which has been equipping the most prestigious places all over the world such as Congress Halls,
            Operas, Theatres, Public Studios, Cinemas, Lecture Halls, Universities and Multi-Purpose Places.
        </h5>
        <h5>
        • Classic Ambiance and Cool Environment</h5>
       <h5> • Gold & Silver Boxes with Reclining Seats</h5>
       <h5> • Cafeteria Serving Local and Imported Food Items</h5>
        <h5>• Effective Air Conditioning</h5>
        <h5>• Courteous and Humble Staff always ready to serve with a smile</h5>
       <h5> • Our Seating Capacity is 581, Gold Box has 10 Reclining seats and Silver has 7 Reclining seats.</h5>
        <h5>• You are welcome to visit and feel the facilities yourself.</h5>
        <h5>We would like to offer our best rates and our best services.</h5>
    </div>
</div>