
@{
    ViewBag.Title = "Index";
}
<style>
    .coming_soon{
        background-color:darkgray;
        height:50px;


    }
    .coming{
        background-color:black;
       
    }

    #coming_text{
        padding:5px;
        padding-bottom:5px;
        
    }

    .design{
        background-color:black;
    }
</style>

<!--  slide show-->
<div id="my-carousel" class="carousel slide" data-ride="carousel" style="margin-left:80px;margin-right:80px"> 
    <ol class="carousel-indicators">
        <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#my-carousel" data-slide-to="1"></li>
        <li data-target="#my-carousel" data-slide-to="2"></li>
        <li data-target="#my-carousel" data-slide-to="3"></li>
        <li data-target="#my-carousel" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img style="height:400px;width:1500px;" alt="First slide" src="~/Content/_slider/1_1.jpg">
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <img style="height:400px;width:1500px;" alt="Second slide" src="~/Content/_slider/2_1.jpg">
            <div class="carousel-caption">
            </div>
        </div>

        <div class="item">
            <img style="height:400px;width:1500px;" alt="Third slide" src="~/Content/_slider/5_1.jpg">
            <div class="carousel-caption">
            </div>
        </div>

        <div class="item">
            <img style="height:400px;width:1500px;" alt="Third slide" src="~/Content/_slider/3.jpg">
            <div class="carousel-caption">
            </div>
        </div>

        <div class="item">
            <img style="height:400px;width:1500px;" alt="Third slide" src="~/Content/_slider/5_1.jpg">
            <div class="carousel-caption">
            </div>
        </div>
    </div>


    <a  class="left carousel-control" href="#my-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a  class="right carousel-control" href="#my-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
 </div>

    <!--end slide show-->


<br /><br /><br /><br />

<div>
    <div class="container">
        <div class="coming_soon">
            <h4 id="coming_text" style="color:white; font-size:25px; padding-top:12px; padding-left:16px;">COMING SOON</h4>
        </div>
        
            <div class="col-lg-4" style="background-color:darkgray"></div>

            <div class="col-md-12 " style="background-color:black">
                <div class="well" style="background-color:black">
                    <div id="myCarousel" class="carousel slide" style="background-color:black">

                        <!-- Carousel items -->
                        <div class="carousel-inner" style="background-color:black">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <a href="#x"><img src="~/images/6.jpg" style="height:300px;width:250px;" alt="Image" class="img-responsive"></a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="#x"><img style="height:300px;width:300px;" src="~/images/7.jpg" alt="Image" class="img-responsive"></a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="#x"><img style="height:300px;width:300px;" src="~/images/8.jpg" alt="Image" class="img-responsive"></a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="#x"><img style="height:300px;width:300px;" src="~/images/9.jpg" alt="Image" class="img-responsive"></a>
                                    </div>
                                </div>
                                <!--/row-->
                            </div>
                            <!--/item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <a href="#x"><img src="~/images/11.jpg" style="height:300px;width:250px;" alt="Image" class="img-responsive"></a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="#x"><img style="height:300px;width:300px;" src="~/images/12.jpg" alt="Image" class="img-responsive"></a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="#x"><img style="height:300px;width:300px;" src="~/images/13.jpg" alt="Image" class="img-responsive"></a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="#x"><img style="height:300px;width:300px;" src="~/images/14.jpg" alt="Image" class="img-responsive"></a>
                                    </div>
                                </div>
                                <!--/row-->
                            </div>
                            <!--/item-->
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <a href="#x"><img src="~/images/15.jpg" style="height:300px;width:250px;" alt="Image" class="img-responsive"></a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="#x"><img style="height:300px;width:300px;" src="~/images/16.jpg" alt="Image" class="img-responsive"></a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="#x"><img style="height:300px;width:300px;" src="~/images/17.jpg" alt="Image" class="img-responsive"></a>
                                    </div>
                                    <div class="col-sm-3">
                                        <a href="#x"><img style="height:300px;width:300px;" src="~/images/18.jpg" alt="Image" class="img-responsive"></a>
                                    </div>
                                </div>
                                <!--/row-->
                            </div>
                            <!--/item-->
                        </div>
                        <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                        <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                    </div>
                    <!--/myCarousel-->
                </div>
                <!--/well-->
            </div>
        </div>
    </div>

