@{

    ViewBag.Title = "Movies";
}
<style>
    .coming_soon{
        background-color:darkgray;
        height:50px;


    }
    .coming{
        background-color:black;
       
    }

    #coming_text{
        padding:5px;
        padding-bottom:5px;
        
    }

    .design{
        background-color:black;
    }
    
</style>
<br/><br/><br /><br/>
<div>
<div class="container">
    <div class="coming_soon" >
        <h4 id="coming_text" style="color:white; font-size:25px; padding-top:12px; padding-left:16px;">COMING SOON</h4>
    </div>
    
    <div class="coming" style="background-color:black">
    <div class="col-md-12 " style="background-color:black">
        <div class="well" style="background-color:black">
            <div id="myCarousel" class="carousel slide" style="background-color:black">

                <!-- Carousel items -->
                <div class="carousel-inner" style="background-color:black">
                    <div class="item active">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#x"><img src="~/images/6.jpg" style="height:300px;width:250px;" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x"><img style="height:300px;width:300px;" src="~/images/7.jpg" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x"><img style="height:300px;width:300px;"  src="~/images/8.jpg" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x"><img style="height:300px;width:300px;" src="~/images/9.jpg" alt="Image" class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#x"><img src="~/images/11.jpg" style="height:300px;width:250px;" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x"><img style="height:300px;width:300px;" src="~/images/12.jpg" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x"><img style="height:300px;width:300px;" src="~/images/13.jpg" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x"><img style="height:300px;width:300px;" src="~/images/14.jpg" alt="Image" class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-3">
                                <a href="#x"><img src="~/images/15.jpg" style="height:300px;width:250px;" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x"><img style="height:300px;width:300px;" src="~/images/16.jpg" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x"><img style="height:300px;width:300px;" src="~/images/17.jpg" alt="Image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-3">
                                <a href="#x"><img style="height:300px;width:300px;" src="~/images/18.jpg" alt="Image" class="img-responsive"></a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
        </div>
        <!--/well-->
    </div>
    </div>
</div>
    </div>
<!-- <div class="content">
    <h3>Fresh <span>Movies</span></h3>
    <ul class="movies">
        <li>
            <h4>Toy Story 3</h4><img src="~/images/2.jpg" alt="" />
            <p>Check out Disney-Pixar's official Toy Story site, watch the <span>Toy Story 3</span> trailer, and meet new characters. Remember, no toy gets left behind!</p>
            <div class="wrapper"><a href="#" class="link2"><span><span>Read More</span></span></a></div>
        </li>
        <li>
            <h4>Prince of Percia: Sands of Time</h4><img src="~/images/1.jpg" alt="" />
            <p>A young fugitive prince and princess must stop a villain who unknowingly threatens to destroy the world with a special dagger.</p>
            <div class="wrapper"><a href="#" class="link2"><span><span>Read More</span></span></a></div>
        </li>
        <li class="last">
            <h4>The Twilight Saga: Eclipse</h4><img src="~/images/2.jpg" alt="" />
            <p>As a string of mysterious killings grips Bella is forced to choose between her love for vampire Edward and her friendship with werewolf Jacob.</p>
            <div class="wrapper"><a href="#" class="link2"><span><span>Read More</span></span></a></div>
        </li>
        <li class="clear">&nbsp;</li>
    </ul>
</div>

    -->
